/**
 * dw2odt import_file pagetool icon
 */

/* import icon */
#dokuwiki__pagetools ul li a.import_file {
    background-position: right 0;
}
#dokuwiki__pagetools ul li a.import_file:before {
    content: url(pagetools-odtimport-sprite.png);
    margin-top: 0;
}
#dokuwiki__pagetools:hover ul li a.import_file,
#dokuwiki__pagetools ul li a.import_file:focus,
#dokuwiki__pagetools ul li a.import_file:active {
    background-image: url(pagetools-odtimport-sprite.png);
}
#dokuwiki__pagetools ul li a.import_file:hover,
#dokuwiki__pagetools ul li a.import_file:active,
#dokuwiki__pagetools ul li a.import_file:focus {
    background-position: right -45px;
}

